
<h2 class="text-info text-center" style="text-decoration:underline;">Add New Vehicle</h2>

<form class="form-group container" (ngSubmit)="OnSubmit(form)" #form="ngForm">
  <div class="col-sm-12 col-md-12 col-12">
    <div>
      <h4 class="text-info">Vehicle Info</h4>
    </div>
    <div class="form-row">
      <div class="col-5 col-md-5 col-sm-5">
        <div class="form-row">
          <label class="text-info mb-1" for="make">Make</label>
          <select id="make"
                  class="custom-select custom-select-sm"
                  [ngClass]="make.touched ? make.valid ? 'is-valid' : 'is-invalid' : ''"
                  name="make"
                  [(ngModel)]="selectedMake"
                  (change)="vehicle.modelId = undefined"
                  required
                  #make="ngModel">
            <option class="dropdown-header" [ngValue]="undefined" selected>please Select...</option>
            <option *ngFor="let m of makes" [ngValue]="m">{{ m.name }}</option>
          </select>
          <span class="invalid-feedback">This field is required</span>
        </div>
        <div class="form-row">
          <label class="text-info mb-1" for="model">Model</label>
          <select id="model"
                  class="custom-select custom-select-sm"
                  [ngClass]="model.touched ? model.valid ? 'is-valid' : 'is-invalid' : ''"
                  name="model"
                  [(ngModel)]="vehicle.modelId"
                  required
                  #model="ngModel">
            <option class="dropdown-header" [ngValue]="undefined" selected>please Select...</option>
            <option *ngFor="let m of selectedMake?.models" [ngValue]="m.id">{{ m.name }}</option>
          </select>
          <span class="invalid-feedback">This field is required</span>
        </div>
      </div>
      <div class="col-1 col-md-1 col-sm-1"></div>
      <div class="col-5 col-md-5 col-sm-5">
        <div class="form-row">
          <label class="text-info">Registered</label>
        </div>
        <div class="form-row">
          <div class="custom-control custom-radio custom-control-inline">
            <input id="NotRegistered" class="custom-control-input" type="radio" name="isRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered" />
            <label class="custom-control-label" for="NotRegistered">No</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input id="Registered" class="custom-control-input" type="radio" name="isRegistered" [value]="true" [(ngModel)]="vehicle.isRegistered" />
            <label class="custom-control-label" for="Registered">Yes</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12 col-md-12">
            <label class="text-info" style="display:block;">Features</label>
            <div class="custom-control custom-checkbox custom-control-inline" *ngFor="let feature of features" ngModelGroup="features">
              <input class="custom-control-input"
                     type="checkbox"
                     [id]="feature.name"
                     [name]="feature.name"
                     [value]="feature.id"
                     [(ngModel)]="markedFeatures[feature.id]"/>
              <label class="custom-control-label" [for]="feature.name">{{feature.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
    <hr />
    <div></div>
    <div class="form-row">
      <h4 class="text-info">Contact Info</h4>
      <div class="col-sm-12 col-md-12 container">
        <div class="form-row">
          <div class="col-sm-4 col-md-4">
            <label class="text-info" for="cName">Contact Name</label>
            <input id="cName"
                   class="form-control"
                   [ngClass]="cName.touched ? cName.valid ? 'is-valid' : 'is-invalid' : ''"
                   type="text"
                   value=""
                   placeholder="Jhon Doe"
                   [(ngModel)]="vehicle.contactInfo.name"
                   name="contactName"
                   required
                   #cName="ngModel" />
            <span class="invalid-feedback">This field is required</span>
          </div>
          <div class="col-sm-4 col-md-4">
            <label class="text-info" for="cPhone">Contact Phone</label>
            <input id="cPhone"
                   class="form-control"
                   [ngClass]="cPhone.touched ? cPhone.valid ? 'is-valid' : 'is-invalid' : ''"
                   type="tel"
                   value=""
                   placeholder="+0123456789"
                   name="contactPhone"
                   [(ngModel)]="vehicle.contactInfo.phone"
                   required
                   pattern="([0-9]|-| )+"
                   #cPhone="ngModel" />
            <span class="invalid-feedback" *ngIf="cPhone.invalid && (cPhone.dirty || cPhone.touched) && cPhone.errors.required">This field is required</span>
            <span class="invalid-feedback" *ngIf="cPhone.invalid && (cPhone.dirty || cPhone.touched) && cPhone.errors.pattern">Not a valid phone number</span>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-6 col-md-6">
            <label class="text-info" for="cEmail">Contact Email</label>
            <input id="cEmail"
                   class="form-control"
                   [ngClass]="cEmail.touched ? cEmail.valid ? 'is-valid' : 'is-invalid' : ''"
                   type="email"
                   value=""
                   placeholder="someone@something.com"
                   name="contactEmail"
                   [(ngModel)]="vehicle.contactInfo.email"
                   email
                   #cEmail="ngModel" />
              <span class="invalid-feedback" *ngIf="cEmail.invalid && (cEmail.dirty || cEmail.touched) && cEmail.errors.email">Not a valid email address</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-2 col-md-2">
        <button type="submit" class="btn btn-primary form-control" [disabled]="form.invalid || (form.valid && !auth.loggedIn)">Submit</button>
      </div>
      <div class="col-sm-2 col-md-2">
        <button type="button" class="btn btn-secondary form-control" (click)="clearControls(form)">Clear</button>
      </div>
      <div class="col-sm-2 col-md-2" *ngIf="isEditMode">
        <button type="button" class="btn btn-danger form-control" (click)="opensweetalert(vehicle.id)" [disabled]="!auth.loggedIn">Delete</button>
      </div>
    </div>
  </div>
</form>


