<div>
  <div class="m-1">
    <label for="pageSize" class="m-1">Page Size:  </label>
    <select id="pageSize" class="dropdown custom-select custom-select-sm col-1 col-sm-1" (change)="changePageSize()" [(ngModel)]="pageSize">
      <option class="dropdown-item" [ngValue]="5">5</option>
      <option class="dropdown-item" [ngValue]="10">10</option>
      <option class="dropdown-item" [ngValue]="50">50</option>
      <option class="dropdown-item" [ngValue]="100">100</option>
    </select>
    <wj-flex-grid-search placeholder="search" class="pull-right"
                         [grid]="flex">
    </wj-flex-grid-search>
  </div>
  <div class="m-1">
    <label class="">Total Vehicles: {{collectionView.totalItemCount}}</label>
    <wj-collection-view-navigator headerFormat="Page {currentPage:n0} of {pageCount:n0}"
                                  [byPage]="true"
                                  [cv]="collectionView"
                                  class="pull-right m-1" #pages>
    </wj-collection-view-navigator>
  </div>
  <wj-group-panel style="display: block;"
                  [grid]="flex"
                  [placeholder]="'Drag columns here to create groups'"
                  class="mt-3">
  </wj-group-panel>
  <wj-flex-grid #flex
                class="grid"
                [allowResizing]="'Both'"
                [itemsSource]="collectionView"
                [allowMerging]="'All'"
                [stickyHeaders]="true"
                [isReadOnly]="true"
                [selectionMode]="3"
                (dblclick)="viewVehicle()">
    <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
      {{cell.row.index + 1}}
    </ng-template>
    <wj-flex-grid-column [header]="'ID'" [binding]="'id'" width="*" [visible]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Make'" [binding]="'make.name'" width="*"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Model'" [binding]="'model.name'" width="*"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Is Registered'" [allowSorting]="false" width="*">
      <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
        <span *ngIf="cell.item.isRegistered" style="color: green;">Registered</span>
        <span *ngIf="!cell.item.isRegistered" style="color: red;">Not Registered</span>
      </ng-template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Last Updated'" [binding]="'lastUpdated'" format="D" width="*">
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Contact Name'" [binding]="'contactInfo.name'" width="*"></wj-flex-grid-column>
  </wj-flex-grid>
</div>
