<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Vega</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link " [routerLink]='["vehicles"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["active"]'>
            <a class="nav-link" [routerLink]='["vehicles/new"]' [ngClass]="auth.loggedIn ? '' : 'disabled'">Add new vehicle</a>
          </li> 
          <li class="nav-item" [routerLinkActive]='["active"]'>
            <a class="nav-link" routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" *ngIf="!auth.loggedIn" style="cursor: pointer" (click)="auth.login(currentUrl)">Login</a>
            <a class="nav-link" *ngIf="auth.loggedIn" style="cursor: pointer" (click)="auth.logout()">Logout</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
</header>
